@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --h1-font-size: 36px;
    --h2-font-size: 24px;
    --p-font-size: 16px;
    --primary: #0C469C;
    --secondary: #FFC800;
    --font: 'Montserrat';
    --padding: 22px;
    --radius: 15px;
    --blur: 22px;
    --spread: -10;
}


* {
    padding: 0;
    margin: 0;
    font-family: var(--font);
}

body {
    background-color: bisque;
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--primary);
    font-weight: bold;
}
p {
    font-size: var(--p-font-size);
    color: var(--primary);
}

#main {
    background-color: #fff;
    width: 390px;
    margin-left: auto;  
    margin-right: auto;
    padding: var(--padding);
}

#actu-head a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 11px;
    color: var(--primary);
    margin-bottom: 30px;
}

ion-icon {
    font-size: 24px;
}

.card-container {
    display: flex;
    gap: var(--padding);
}

.card {
    margin-top: var(--padding);
    background-color: #fff;
    box-shadow: rgba(12, 70, 156, 0.2) 0px 7px 29px 0px;
    border-radius: var(--radius);
    height: 150px;
    padding: var(--padding);
}

.card p{
    font-family: var(--font);
    font-weight: 300;
}

.card h2{
    font-size: var(--h1-font-size);
    font-family: var(--font);
}

.card-news {
    border-radius: var(--radius);
    height: 216px;
    padding: var(--padding);
}

#marc, #banner-hospital {
    margin-top: var(--padding);
    margin-bottom: var(--padding);
    background-size: cover;
    background-position: center;
}

#marc {
    background-image: url('../img/Marc.png');
}

.card-news div {
    margin-top: 45%;
}

#marc div {
    margin-top: 40%;
}

.card-news h2 {
    color: #fff;
    font-size: var(--h1-font-size);

}
.card-news p {
    color: #fff;
    font-weight: 400;
}

#banner-children {
    background-image: url('../img/Children.png');
}

#banner-hospital {
    background-image: url('../img/Hospital.png');
}

.publish {
    font-weight: 100;
    margin-top: var(--padding);
}

.banner h2 {
    margin-bottom: var(--padding);
    font-size: var(--p-font-size);
}
