@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (max-width: 480px) {
    :root {
        --font: "Montserrat";
        --blue-color: #0C469C;
        --yellow-color: #FFC800;
    }

    body {
        font-family: var(--font);
    }
    footer{
        opacity: 1;
        filter: none;
    }

    .small-title a, h1 {
        display: flex;
        align-items: center;
        color: var(--blue-color);
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }

    .sub-title p {
        color: var(--blue-color);
        font-weight: 400;
        font-size: 16px;
    }

    .report-section {
        margin-top: 22px;
        border: 0; 
        border-radius: 15px; 
        box-shadow: 1px 1px 22px rgba(12, 70, 156, 0.25);
        padding: 30px;
    }

    .report-section h2 {
        margin: 0;
        color: var(--blue-color);
        font-weight: bold;
        font-size: 24px;
    }

    .report-section p {
        color: var(--blue-color);
        font-weight: 400;
        font-size: 16px;
    }

    .btn-report {
        margin: 22px 0;
        width: 100%;
        border: 0;
        border-radius: 15px;
        background-color: #0C469C;
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        font-family: "Montserrat";
        padding: 10px;
        a{
            text-decoration: none;
            color: white;
        }
    }
}