@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@media only screen and (max-width: 480px) {
    * {
      font-family: var(--font);
    }
    :root {
    --h1-font-size: 36px;
    --h2-font-size: 24px;
    --p-font-size: 16px;
    --primary: #0C469C;
    --secondary: #FFC800;
    --font: 'Montserrat';
    --padding: 22px;
    --radius: 15px;
    --blur: 22px;
    --spread: -10;
    }
    .news {
      padding: var(--padding);
    }
    .news{
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .news__containers{
        text-decoration: none;
        padding: 25px 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: white;
        box-shadow: 0px 0px 22px -10px #0C469C
    }
    .background__img{
        height: 100px;
        background-position: center;
        background-size: cover;
        justify-content: end;
    }
    #POPINCOURT{
        background-image: url("https://s3-alpha-sig.figma.com/img/438e/d392/b2f26af4789f4088918f9357b15c4607?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ORDezAfpFexipb7xL83Ck5QPuWTaMyHLIs2hrm3lsmZNhLuLqmir~7eKBBmn39JVPtnfwP-mG4wM06S~btWqj1qc04YF0mKTKQgtENszAN4No~kWw3bKKmfRjNPpnNBn8WQb4m0RliJZLm0bfMD~qLOHxfc2nfaL-2uHOVlzbFR4JczMfbJXTFSwjQbEzXEmaiV5ULHf4pqVOvbK81F0SqDHUpgq0kKDyIbofYnm-Ly1hlPP5tGG5mEIR~A751RX8TWdLisUTflk7FRSBOwaAmkree8~MSDfsfZP60JMuyxSM1A6NGZxWz1s~6eXe4DnOg~9ndy8HLPIeULnKIQRCw__");
    }
    #streetSchool{
        background-image: url("https://s3-alpha-sig.figma.com/img/4b6c/268e/5f89617fedf0464f1856ca0c6c1366a6?Expires=1735516800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=O0xlicLqaszZdKufihDgXTnJqprCFpK85DJI2u2zTD88Qe4vwj0J8tDHHEf2zV~VrTwKG-S02qlorQ9yhzTFW2ad8vkIX1Z7aE51AM9gYJQ7Iaav5RhjkFMevX74MSWinW7~g-cCPfWok1F0lNn0fxuu687MeOMbCpj-Vnb~qEB9DpEj9pYcBBift0nyvt8~H3flkw11G~MW6VMrPk8w5KEaWNWhOHeFiBgc7iOYeQ4CMhYE8HuDhbZcHKNUuRKyWuwVASBb-vstn~0UezUQRxgHQmLE2mtEnqVZITyZRrOs7H3MIQjsHX72n6tFEjlzqGoEHYGD4~k8EF6gULtnYQ__");
    }
    .banner {
      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
      height: 250px;
      border-radius: 15px;
      background-image: url("../img/img1_carousel.png");
      background-size: cover;
      background-position: center;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .banner::before {
      content: "";
      position: absolute;
      border-radius: 15px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #0C469C, transparent);
    }
    .testimony__title{
        color: var(--primary);
        font-weight: 700;
        font-size: var(--h1-font-size);
    }
    .testimony{
        color: var(--primary);
        font-weight: 400;
        font-size: 13px;
    }
    .testimony__date{
        display: flex;
        justify-content: end;
    }
    .news__title{
        font-weight: 700;
        font-size: 13px;
    }
    .news__content{
        color: white;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    h2 {
    font-size: var(--h2-font-size);
    color: var(--primary);
    font-weight: bold;
    }
    p {
      font-size: var(--p-font-size);
      color: var(--primary);
    }
    #actu-head a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 11px;
      color: var(--primary);
      margin-bottom: 30px;
    }
    ion-icon {
      font-size: 24px;
    }
    .card-container {
      display: flex;
      gap: var(--padding);
    }
    .card {
      background-color: #fff;
      box-shadow: rgba(12, 70, 156, 0.2) 0px 7px 29px 0px;
      border-radius: var(--radius);
      height: 150px;
      padding: var(--padding);
    }
    .card p{
      font-weight: 300;
    }
    .card h2{
      font-size: var(--h1-font-size);
    }
    .card-news {
      border-radius: var(--radius);
      height: 216px;
      z-index: 2;
    }
    #marc, #banner-hospital {
      background-size: cover;
      background-position: center;
    }
    #marc {
      background-image: url('../img/Marc.png');
    }
    .card-news div {
      margin-top: 40%;
    }
    #marc div {
      margin-top: 30%;
    }
    .card-news h2 {
      color: #fff;
      font-size: var(--h1-font-size);
    }
    .card-news p {
      color: #fff;
    }
    #banner-children {
      background-image: url('../img/Children.png');
    }
    #banner-hospital {
      background-image: url('../img/Hospital.png');
    }
    .publish {
      font-weight: 100;
      color: #fff;
    }
    .banner h2 {
      margin-bottom: var(--padding);
      font-size: var(--p-font-size);
    }
  }

