@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (max-width: 390px) {
    :root {
        --font: "Montserrat";
        --blue-color: #0C469C;
        --yellow-color: #FFC800;
    }

    body {
        margin: 22px;
        font-family: var(--font);
        flex-direction: column;
        display: flex;
        min-height: 100vh;
        height: 100%;
    }

    main {
        flex: 1;
        justify-content: center;
        flex-direction: column;
        display: flex;
        height: 100%;
    }

    .small-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .small-title a,
    h1 {
        display: flex;
        align-items: center;
        color: var(--blue-color);
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: var(--blue-color);
    }

    input:focus+.slider {
        box-shadow: 0 0 1px var(--blue-color);
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 22px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .notifs-container {
        flex: 1;
        justify-content: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .notifs-container h1 {
        text-align: center;
        font-size: 20px;
        opacity: 30%;
    }

    .notifs-container img {
        opacity: 30%;
        width: 150px;
        height: auto;
    }
}