@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

:root {
    --p-color1: #0C469C;
    --p-color2: #fff;
    --background-color: #FCC800;
    --box-shadow: rgba(12, 70, 156, 0.2) 0px 7px 29px 0px;
}

body {
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

footer {
    opacity: 0;
    filter: blur(10px);
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 9998; 
    bottom: 0;
    /* padding: 0 22px; */
    margin-top: 22px;
    /* background-color: white; */
    /* box-shadow: var(--box-shadow); */
    max-width: 100%;
    border-radius: 20px;
    transition: opacity 2s ease, filter 2s ease;
    nav{
        box-shadow: var(--box-shadow);
        border-radius: 15px;
        width: 100%;
        /* margin: 0 22px; */
        background-color: #fff;
    }
}

footer.active {
    opacity: 1;
    filter: blur(0);
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

nav ul li {
    position: relative;
    cursor: pointer;
}

nav ul li.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    background-color: var(--p-color1);
    border-radius: 50%;
} 