@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --p-color1: #0C469C;
    --p-color2: #fff;
    --background-color: #FCC800;
    --box-shadow: rgba(12, 70, 156, 0.2) 0px 7px 29px 0px;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    color: var(--p-color1);
}